<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="outboundOrderMapper" >
  <resultMap id="BaseResultMap" type="com.weason.site.pojo.OutboundOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="car_team_id" property="carTeamId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="drop_point_id" property="dropPointId" jdbcType="BIGINT" />
    <result column="vehicle" property="vehicle" jdbcType="DOUBLE" />
    <result column="mileage" property="mileage" jdbcType="DOUBLE" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />

  </resultMap>


  <resultMap id="outBoundOrderResultMap" type="com.weason.site.vo.OutBoundOrderVo">
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="DOUBLE" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="mileage" property="mileage" jdbcType="DOUBLE" />
    <result column="vehicle" property="vehicle" jdbcType="DOUBLE" />
    <result column="drop_point" property="dropPoint" jdbcType="VARCHAR" />
    <result column="site_name" property="siteName" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="driver" property="driver" jdbcType="VARCHAR" />

  </resultMap>



  <sql id="Base_Column_List" >
    id, status, create_time, update_time, site_id, price, plate_number, car_team_id,user_id,amount,drop_point_id,vehicle,mileage,memo,bill_no
  </sql>

  <sql id="outBoundOder_Column_List" >
    oo.bill_no,
    oo.amount,
    oo.create_time,
    oo.memo,
    oo.mileage,
    oo.plate_number,
    oo.price,
    oo.vehicle,
    sdp.drop_point,
    ui.site_name,
    uu.alias,
    uc.driver
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_outbound_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from u_outbound_order
    where 1=1
    <if test="billNo != null" >
     and   bill_no = #{billNo,jdbcType=VARCHAR}
    </if>
    <if test="userId != null" >
      and   user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="siteId != null" >
      and   site_id = #{siteId,jdbcType=BIGINT}
    </if>
    <if test="carTeamId != null" >
      and   car_team_id = #{carTeamId,jdbcType=BIGINT}
    </if>
    <if test="plateNumber != null" >
      and   plate_number = #{plateNumber,jdbcType=VARCHAR}
    </if>
    <if test="dropPointId != null" >
      and   drop_point_id = #{dropPointId,jdbcType=BIGINT}
    </if>
    <if test="createTime != null" >
      and   create_time = #{createTime,jdbcType=VARCHAR}
    </if>



  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_outbound_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weason.site.pojo.OutboundOrder" >
    insert into u_outbound_order (id, status, create_time, 
      update_time, site_id, price, 
      plate_number, car_team_id)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{siteId,jdbcType=BIGINT}, #{price,jdbcType=DECIMAL}, 
      #{plateNumber,jdbcType=VARCHAR}, #{carTeamId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.weason.site.pojo.OutboundOrder" >
    insert into u_outbound_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
        create_time,
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="plateNumber != null" >
        plate_number,
      </if>
      <if test="carTeamId != null" >
        car_team_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="dropPointId != null" >
        drop_point_id,
      </if>
      <if test="vehicle != null" >
        vehicle,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      sysdate(),
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="plateNumber != null" >
        #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="carTeamId != null" >
        #{carTeamId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="dropPointId != null" >
        #{dropPointId,jdbcType=BIGINT},
      </if>
      <if test="vehicle != null" >
        #{vehicle,jdbcType=DOUBLE},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=DOUBLE},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weason.site.pojo.OutboundOrder" >
    update u_outbound_order
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="plateNumber != null" >
        plate_number = #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="carTeamId != null" >
        car_team_id = #{carTeamId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weason.site.pojo.OutboundOrder" >
    update u_outbound_order
    set status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      site_id = #{siteId,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      plate_number = #{plateNumber,jdbcType=VARCHAR},
      car_team_id = #{carTeamId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectOutBoundOrderByBillNo" resultMap="outBoundOrderResultMap" parameterType="java.util.Map" >
  SELECT
    <include refid="outBoundOder_Column_List"/>

    from
    site.u_outbound_order oo,
    site.u_site_drop_point sdp,
    site.u_site ui,
    site.u_user uu,
    site.u_car uc
  where 1=1
  and  oo.drop_point_id = sdp.id
  and oo.site_id=ui.id
  and oo.user_id=uu.id
  and oo.plate_number=uc.plate_number
  <if test="billNo != null" >
    and   bill_no = #{billNo,jdbcType=VARCHAR}
  </if>
  </select>

  <select id="selectOutBoundOrderListByParam" resultMap="outBoundOrderResultMap" parameterType="java.util.Map" >
    SELECT
    <include refid="outBoundOder_Column_List"/>
    from
    site.u_outbound_order oo,
    site.u_site_drop_point sdp,
    site.u_site ui,
    site.u_user uu,
    site.u_car uc
    where 1=1
    and  oo.drop_point_id = sdp.id
    and oo.site_id=ui.id
    and oo.user_id=uu.id
    and oo.plate_number=uc.plate_number
    <if test="billNo != null" >
      and   oo.bill_no = #{billNo,jdbcType=VARCHAR}
    </if>
    <if test="plateNumber != null" >
      and   oo.plate_number like CONCAT("%",#{plateNumber},"%")
    </if>
    <if test="alias != null" >
      and   uu.alias like CONCAT("%",#{alias},"%")
    </if>
    <if test="userId != null and userId !='' " >
      and   oo.user_id =#{userId,jdbcType=BIGINT}
    </if>
    <if test="carTeamName != null and carTeamName !='' " >
      and   uc.car_team_name like CONCAT("%",#{carTeamName},"%")
    </if>
    <if test="carTeamId != null and carTeamId !='' " >
      and   uc.id =#{carTeamId,jdbcType=BIGINT}
    </if>
    <if test="siteName != null and siteName !='' " >
      and   ui.site_name like CONCAT("%",#{siteName},"%")
    </if>
    <if test="siteId != null and siteId !='' " >
      and   ui.id = #{siteId,jdbcType=BIGINT}
    </if>
    <if test="dropPoint != null and dropPoint !='' " >
      and   sdp.dropPoint like CONCAT("%",#{dropPoint},"%")
    </if>
    <if test="dropPointId != null and dropPointId !='' " >
      and   oo.drop_point_id  = #{dropPointId,jdbcType=BIGINT}
    </if>

  </select>


  <select id="selectOutBoundOrderCountByParam" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT
    count(*)
    from
    site.u_outbound_order oo,
    site.u_site_drop_point sdp,
    site.u_site ui,
    site.u_user uu,
    site.u_car uc
    where 1=1
    and  oo.drop_point_id = sdp.id
    and oo.site_id=ui.id
    and oo.user_id=uu.id
    and oo.plate_number=uc.plate_number
    <if test="billNo != null" >
      and   oo.bill_no = #{billNo,jdbcType=VARCHAR}
    </if>
    <if test="plateNumber != null" >
      and   oo.plate_number like CONCAT("%",#{plateNumber},"%")
    </if>
    <if test="alias != null" >
      and   uu.alias like CONCAT("%",#{alias},"%")
    </if>
    <if test="userId != null and userId !='' " >
      and   oo.user_id =#{userId,jdbcType=BIGINT}
    </if>
    <if test="carTeamName != null and carTeamName !='' " >
      and   uc.car_team_name like CONCAT("%",#{carTeamName},"%")
    </if>
    <if test="carTeamId != null and carTeamId !='' " >
      and   uc.id =#{carTeamId,jdbcType=BIGINT}
    </if>
    <if test="siteName != null and siteName !='' " >
      and   ui.site_name like CONCAT("%",#{siteName},"%")
    </if>
    <if test="siteId != null and siteId !='' " >
      and   ui.id = #{siteId,jdbcType=BIGINT}
    </if>
    <if test="dropPoint != null and dropPoint !='' " >
      and   sdp.dropPoint like CONCAT("%",#{dropPoint},"%")
    </if>
    <if test="dropPointId != null and dropPointId !='' " >
      and   oo.drop_point_id  = #{dropPointId,jdbcType=BIGINT}
    </if>
  </select>

</mapper>