<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="siteMapper" >
  <resultMap id="BaseResultMap" type="com.weason.site.pojo.Site" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="site_number" property="siteNumber" jdbcType="VARCHAR" />
    <result column="site_name" property="siteName" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, status, create_time, update_time, site_number, site_name,is_valid,memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_site
    where id = #{id,jdbcType=BIGINT} and is_valid = 'Y'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_site
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weason.site.pojo.Site" >
    insert into u_site (id, status, create_time, 
      update_time, site_number, site_name,is_valid,memo
      )
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{siteNumber,jdbcType=VARCHAR}, #{siteName,jdbcType=VARCHAR},
      #{isValid,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weason.site.pojo.Site" >
    insert into u_site
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="siteNumber != null" >
        site_number,
      </if>
      <if test="siteName != null" >
        site_name,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      create_time,
      update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="siteNumber != null" >
        #{siteNumber,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
      #{siteName,jdbcType=VARCHAR},
    </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      SYSDATE(),
      SYSDATE()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weason.site.pojo.Site" >
    update u_site
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siteNumber != null" >
        site_number = #{siteNumber,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      update_time = SYSDATE()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weason.site.pojo.Site" >
    update u_site
    set status = #{status,jdbcType=TINYINT},
      create_time = SYSDATE(),
      update_time = SYSDATE(),
      site_number = #{siteNumber,jdbcType=VARCHAR},
      site_name = #{siteName,jdbcType=VARCHAR},
      is_valid =#{isValid,jdbcType=VARCHAR},
      memo =#{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="querySites" resultMap="BaseResultMap" parameterType="java.util.Map" >
    <include refid="basic.pageSearchHead"/>
    select
    <include refid="Base_Column_List" />
    from u_site
    where 1=1 and is_valid = 'Y'
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="siteNumber != null and siteNumber !='' " >
      and site_number = #{siteNumber,jdbcType=VARCHAR}
    </if>
    <if test="siteName != null and siteName !='' " >
      and site_name like CONCAT('%',#{siteName},'%')
    </if>
    <include refid="basic.pageSearchFoot"/>
  </select>

  <select id="querySitesCountByParam" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
     count(*)
    from u_site
    where 1=1 and is_valid = 'Y'
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="siteNumber != null and siteNumber !=''" >
      and site_number = #{siteNumber,jdbcType=VARCHAR}
    </if>
    <if test="siteName != null and siteName !=''" >
      and site_name like CONCAT('%',#{siteName},'%')
    </if>
  </select>

  <select id="querySiteList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    <include refid="basic.pageSearchHead"/>
    select
    <include refid="Base_Column_List" />
    from u_site
    where 1=1 and is_valid = 'Y'
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="siteNumber != null and siteNumber !='' " >
      and site_number = #{siteNumber,jdbcType=VARCHAR}
    </if>
    <if test="siteName != null and siteName !='' " >
      and site_name =#{siteName,jdbcType=VARCHAR}
    </if>
    <include refid="basic.pageSearchFoot"/>
  </select>
</mapper>