<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="siteDropPointMapper" >
  <resultMap id="BaseResultMap" type="com.weason.site.pojo.SiteDropPoint" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="drop_point" property="dropPoint" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="DECIMAL" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, status, create_time, update_time, drop_point, mileage, site_id,memo,is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_site_drop_point
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_site_drop_point
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weason.site.pojo.SiteDropPoint" >
    insert into u_site_drop_point (id, status, create_time, 
      update_time, drop_point, mileage, 
      site_id,memo,is_valid)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dropPoint,jdbcType=VARCHAR}, #{mileage,jdbcType=DECIMAL}, 
      #{siteId,jdbcType=BIGINT},#{memo,jdbcType=VARCHAR},'Y')
  </insert>
  <insert id="insertSelective" parameterType="com.weason.site.pojo.SiteDropPoint" >
    insert into u_site_drop_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="dropPoint != null" >
        drop_point,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      is_valid
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dropPoint != null" >
        #{dropPoint,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=DECIMAL},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      'Y'
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weason.site.pojo.SiteDropPoint" >
    update u_site_drop_point
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dropPoint != null" >
        drop_point = #{dropPoint,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=DECIMAL},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=BIGINT},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=BIGINT},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weason.site.pojo.SiteDropPoint" >
    update u_site_drop_point
    set status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      drop_point = #{dropPoint,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=DECIMAL},
      site_id = #{siteId,jdbcType=BIGINT},
      memo = #{memo,jdbcType=BIGINT},
      is_valid = #{memo,jdbcType=BIGINT}
    where id = #{isValid,jdbcType=VARCHAR}
  </update>

  <select id="querySiteDropPointsCountByParam" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*)
    from u_site_drop_point
    where 1=1
    <if test="id != null" >
      and id=#{id,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="dropPoint != null and dropPoint != ''" >
      and drop_point like CONCAT("%",#{dropPoint},"%")
    </if>
    <if test="mileage != null and mileage != ''" >
      and drop_point =#{mileage,jdbcType=VARCHAR}
    </if>
    <if test="siteId != null and siteId != '' ">
      and site_id = #{siteId,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null and isValid != '' ">
      and is_valid = #{isValid,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="querySiteDropPointsByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
    <include refid="basic.pageSearchHead"/>
    select *
    from u_site_drop_point
    where 1=1
    <if test="id != null" >
      and id=#{id,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="dropPoint != null and dropPoint != ''" >
      and drop_point like CONCAT("%",#{dropPoint},"%")
    </if>
    <if test="mileage != null and mileage != ''" >
      and drop_point =#{mileage,jdbcType=VARCHAR}
    </if>
    <if test="siteId != null and siteId != '' ">
      and site_id = #{siteId,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null and isValid != '' ">
      and is_valid = #{isValid,jdbcType=VARCHAR}
    </if>
    <include refid="basic.pageSearchFoot"/>
  </select>
</mapper>