<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
  <resultMap id="BaseResultMap" type="com.weason.site.pojo.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid"/>
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="user_type" jdbcType="VARCHAR" property="userType"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="gender" jdbcType="VARCHAR" property="gender"/>
    <result column="memo" jdbcType="VARCHAR" property="memo"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, status, create_time, update_time, account, password, alias,is_valid,user_type,phone,gender,memo,site_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=BIGINT} and is_valid = 'Y'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weason.site.pojo.User">
    insert into u_user (id, status, create_time,
      update_time, account, password,
      alias,is_valid,user_type,phone,gender,memo, site_id)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{alias,jdbcType=VARCHAR},#{isValid,jdbcType=VARCHAR},#{userType,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
      #{gender,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR},#{siteId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.weason.site.pojo.User">
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="userType != null and userType != ''">
       user_type ,
      </if>
      <if test="phone != null and phone != ''">
        phone ,
      </if>
      <if test="gender != null and gender != ''">
        gender,
      </if>
      <if test="memo != null and memo != ''">
        memo,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      create_time,
      update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
       #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null and userType != ''">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null and gender != ''">
      #{gender,jdbcType=VARCHAR},
      </if>
      <if test="memo != null and memo != ''">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      SYSDATE()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weason.site.pojo.User">
    update u_user
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid =#{isValid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null and userType != ''">
       user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
       phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null and gender != ''">
       gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="memo != null and memo != ''">
        memo= #{memo,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      update_time = SYSDATE()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weason.site.pojo.User">
    update u_user
    set status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      is_valid =#{isValid,jdbcType=VARCHAR}
      alias = #{alias,jdbcType=VARCHAR},
      site_id = #{siteId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStatusBySiteId" parameterType="com.weason.site.pojo.User">
    update u_user
    set  is_valid =#{isValid,jdbcType=VARCHAR}
    where site_id = #{siteId,jdbcType=BIGINT}
  </update>

  <select id="queryUsersCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*)
    from u_user
    where 1=1 and is_valid = 'Y'
    <if test="id != null" >
      and id=#{id,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="account != null and account != ''" >
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="password != null and password != ''" >
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="alias != null  and alias != ''">
      and alias = #{alias,jdbcType=VARCHAR}
    </if>
    <if test="userType != null and userType != ''">
      and user_type = #{userType,jdbcType=VARCHAR}
    </if>
    <if test="phone != null and phone != ''">
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="gender != null and gender != ''">
      and gender = #{gender,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="queryUsers" resultMap="BaseResultMap" parameterType="java.util.Map" >
    <include refid="basic.pageSearchHead"/>
    select
    <include refid="Base_Column_List" />
    from u_user
    where 1=1 and is_valid = 'Y'
    <if test="id != null" >
      and id=#{id,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="account != null and account != ''" >
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="password != null and password != ''" >
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="alias != null and alias != ''">
      and alias = #{alias,jdbcType=VARCHAR}
    </if>
    <if test="userType != null and userType != ''">
      and user_type = #{userType,jdbcType=VARCHAR}
    </if>
    <if test="phone != null and phone != ''">
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="gender != null and gender != ''">
      and gender = #{gender,jdbcType=VARCHAR}
    </if>
    <if test="siteId != null" >
      and site_id = #{siteId,jdbcType=BIGINT},
    </if>
    <include refid="basic.pageSearchFoot"/>
  </select>
</mapper>