<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
  <resultMap id="BaseResultMap" type="com.weason.site.pojo.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, create_time, update_time, account, password, alias
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=BIGINT} and status = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weason.site.pojo.User">
    insert into u_user (id, status, create_time,
      update_time, account, password,
      alias)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{alias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weason.site.pojo.User">
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="alias != null">
        alias,
      </if>
      create_time,
      update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      SYSDATE(),
      SYSDATE()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weason.site.pojo.User">
    update u_user
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      update_time = SYSDATE()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weason.site.pojo.User">
    update u_user
    set status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryUsersCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*)
    from u_user
    where 1=1
    <if test="id != null" >
      and id=#{id,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="account != null" >
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="password != null" >
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="alias != null">
      and alias = #{alias,jdbcType=VARCHAR},
    </if>
  </select>

  <select id="queryUsers" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from u_user
    where 1=1
    <if test="id != null" >
      and id=#{id,jdbcType=BIGINT}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="account != null" >
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="password != null" >
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="alias != null">
      and alias = #{alias,jdbcType=VARCHAR},
    </if>
  </select>
</mapper>